:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

mat-sidenav-container {
  flex: 1;
  margin-top: 64px;
}

mat-sidenav {
  width: 250px;
}

mat-sidenav-content {
  padding: 20px;
}

@media (max-width: 600px) { 
  mat-sidenav-container {
    margin-top: 56px; 
    /* altura en dispositivos mobiles, un poco de responsive  */
  }
}